@font-face {
    font-family: 'Roboto-black';
    src: url('/Fonts/Roboto-Black.ttf');
}
@font-face {
    font-family: 'Roboto-regular';
    src: url('/Fonts/Roboto-Regular.ttf');
}
@font-face {
    font-family: 'Roboto-thin';
    src: url('/Fonts/Roboto-Thin.ttf');
}
@font-face {
    font-family: 'Shrikhand';
    src: url('/Fonts/Shrikhand-Regular.otf');
}
